@{
    ViewBag.Title = "JobAdder Coding Challenge";
}

<div class="jumbotron">
    <h2>JobAdder Coding Challenge - Developer</h2>
    <p>@Html.ActionLink("Go to Jobs page", "Index", "JobMatcher", new { Area = "Jobs" }, new { @class = "btn btn-primary" })</p>
</div>
